.create-question-wrapper {
  background: #292930;
  border: thin solid transparent;
  border-radius: 2px;
  padding: 10px;
  padding-right: 30px;
  margin-left: 50%;
  margin-bottom: 20px;
  transform: translate(-50%, 0%);
  min-height: 40px;
  width: 75%;
}

.question-form {
  width: 100%;
}

.question-title-input {
  display: inline-flex;
  border: thin solid transparent;
  flex-wrap: wrap;
  border-radius: 2px;
  width: 100%;
  min-height: 40px;
  padding: 5px 5px 5px 15px;
  border: none;
  outline: none;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.question-title-input:focus {
  box-shadow: 0 0 0 3pt #7fc2a3;
  border: thin solid #347758;
}

.explanation-title {
  font-weight: 500;
}

.details {
  font-size: 14px;
  font-weight: 350;
}

.question-body-input {
  display: inline-flex;
  border: thin solid transparent;
  flex-wrap: wrap;
  border-radius: 2px;
  width: 100%;
  min-height: 200px;
  padding: 15px 5px 5px 15px;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  resize: none;
  font-family: Arial, sans-serif;
}

.question-body-input:focus {
  box-shadow: 0 0 0 3pt #7fc2a3;
  border: thin solid #347758;
}

.question-submit-btn {
  height: 35px;
  width: 150px;
  color: white;
  border: transparent;
  border-radius: 2px;
  background-color: #7fc2a3;
}

.question-submit-btn:hover {
  cursor: pointer;
  background-color: #5cc292;
  transition: 0.3s;
}
