body {
  background-color: #1e1e23;
}

h1 {
  float: left;
  margin-top: -150px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.normal-font {
  color: #f2f2f2;
}
.colored-font {
  color: #78f3ba;
}

.name-font {
  display: block;
  position: relative;
  text-align: center;
  color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transition: ease-in-out 1s;
  position: relative;
}

.form-label {
  float: left;
  margin-top: -70px;
  color: #f2f2f2;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.search-bar {
  display: block;
  margin-top: 18%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  text-align: center;
  border-radius: 4px;
  width: 40%;
  height: 50px;
  font-size: 17px;
}

.submit-btn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  width: 10%;
  color: #1e1e23;
  border: transparent;
  border-radius: 4px;
  background-color: #78f3ba;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #65ce9d;
}

.navbar {
  background-color: #292930;
  overflow: hidden;
  height: 60px;
}

.navbar-logo {
  float: left;
  margin: 0 40px 0 50px;
  color: #78f3ba;
  padding-top: 15px;
  font-weight: bold;
  font-size: 18px;
}

.navbar-item {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 19px;
  height: 60px;
  width: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}

.navbar-item:hover {
  color: #78f3ba;
  transition: ease-in 0.3s;
}

.navbar-item.selected {
  color: #78f3ba;
}

.navbar-item.selected::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #78f3ba;
  position: absolute;
  top: 0px;
}

.navbar-item:active {
  background-color: #363640;
  transition: 0.1s;
}

.navbar-login {
  float: right;
  margin-right: 30px;
  color: #f2f2f2;
  text-align: center;
  padding-top: 19px;
  height: 60px;
  width: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.navbar-login:hover {
  color: #78f3ba;
  transition: ease-in 0.3s;
}

.navbar-login:active {
  background-color: #363640;
  transition: 0.1s;
}

.login-font {
  float: left;
  margin-top: -120px;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #f2f2f2;
}

.credentials-font {
  display: block;
  margin-left: 450px;
  margin-bottom: 10px;
  width: 100%;
  color: #f2f2f2;
  font-size: 14px;
}

.input-bar {
  display: block;
  margin-left: 450px;
  border: none;
  text-align: center;
  border-radius: 4px;
  width: 30%;
  height: 50px;
  font-size: 17px;
}
