.signup-btn-2 {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 52.5px;
  width: 305px;
  min-width: 100px;
  color: #1e1e23;
  border: transparent;
  border-radius: 4px;
  background-color: #50505e;
  color: #f2f2f2;
}

.signup-btn-2:hover {
  cursor: pointer;
  background-color: #3f3f4b;
}

.error-msg {
  position: relative;
  font-weight: 400;
  color: rgb(255, 101, 96);
}
